.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-cont{
  display: flex;
  flex-flow: column; 
  align-items: center;
  justify-items: center;
  width: 100%;
}

#main-grid{
  height: 850px;
  background: url(./pictures/cards-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  overflow: scroll;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#sub-grid-cont{
  margin-bottom: 50px;
}

#main-header{
  flex-flow: row;
  justify-content: center;
  align-self: center;
  color: white;
}

.second-cont{
  display: flex;
  height: 500px;
  width: 100%;
  color: black;
}

#about-games{
  width: 800px;
  background-color: white;
  opacity: 90%;
  border-color: lightslategray;
  border-style: solid;
  border-radius: 25px;
  padding: 25px;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 25px;
  row-gap: 25px;
}

.game-cards{
  width: 200px;
}

#profile-grid{
  flex-flow: row;
  column-gap: 25px; 
  opacity: 90%;
  padding: 25px;
  border-radius: 25px;
}

#games-grid{
  flex-flow: row;
  column-gap: 25px;
}

#pri-sec{
  flex: 30%;
  display: flex;
  flex-flow: column;
  width: 400px;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  opacity: 90%;
  border-color: lightslategray;
  border-style: solid;
  border-radius: 25px;
  padding: 25px;
}

#sec-sec{
  flex: 70%;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 500px;
  padding: 25px;
  border-radius: 25px;
  background-color: white;
  opacity: 90%;
  border-color: lightslategray;
  border-style: solid;
  border-radius: 25px;
}

#all-games-header{
  margin-top: 480px;
  margin-bottom: -15px;
}

#all-games-section{
  flex: 30%;
  display: flex;
  flex-flow: column;
  width: 300px;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 80%;
  border-color: lightslategray;
  border-style: solid;
  border-radius: 25px;
  padding: 25px;
  overflow-y: scroll;
  row-gap: 15px;
}

#game-info{
  flex: 70%;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 500px;
  padding: 25px;
  background-color: white;
  opacity: 80%;
  border-radius: 25px;
  border-color: lightslategray;
  border-style: solid;
  border-radius: 25px;
  overflow-y: scroll;
}

#lgi-game{
  padding: 10px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

#lgi-game:hover{
  background-color: rgb(143, 0, 0);
  opacity: 80%;
}

.navigation-list{
  display: flex;
  align-items: center;
  margin: 25px;
  column-gap: 10px;
  padding: 10px;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
  background-color: rgb(202, 202, 202);
  list-style-type: none;
}

#form-grid{
  background-color: white;
  opacity: 90%;
  padding: 25px;
  border-radius: 25px;
  color: black;
  height: max-content;
}

#edit-form-grid{
  background-color: white;
  opacity: 90%;
  padding: 25px;
  border-radius: 25px;
  color: black;
  height: 450px;
}

.form-cont{
  display: flex;
  flex-flow: column;
  height: 125px;
  row-gap: 5px;
}

.input-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.form-input{
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 5px;
}
#su-f{
  height: 100%;
}

.footer-det{
  justify-content: center;
  align-content: center;
  background-color: rgb(82, 123, 126);
}